* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
}

html {
  background: #f1f1f1;
  overflow-x: clip;
}

body {
  background: white;
  overflow-x: clip;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2 {
  color: #28283d;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 3.556rem;
  line-height: 3.556rem;
  font-weight: 900;
}

h2 {
  font-size: 2.222rem;
  line-height: 2.444rem;
  font-weight: 900;
}

h3 {
  font-size: 0.8889rem;
  line-height: 1.444rem;
  font-weight: 900;
  color: #4d96a8;
  text-transform: uppercase;
  letter-spacing: 4px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #87879d;
}

.btn {
  height: 58px;
  border-radius: 50px;
  padding: 2rem 0rem;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 0.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
}

.btn-main {
  background-color: #4d96a8;
}

.btn-main span {
  color: #8fe3f9;
  font-weight: inherit;
}

.btn-main:hover {
  background-color: #71c0d4;
}

.btn-main:hover span {
  color: #8fe3f9;
}

.btn-secondary {
  background-color: #855fb1;
}

.btn-secondary span {
  color: #d9b8ff;
  font-weight: inherit;
}

.btn-secondary:hover {
  background-color: #b18bdd;
}

.btn-secondary:hover span {
  color: #d9b8ff;
}

.logo {
  height: 130px;
  display: -ms-grid;
  display: grid;
  position: relative;
  place-items: center;
}

.logo img {
  width: 119px;
  height: 28px;
}

section.mobile-width {
  overflow: hidden;
}

section.mobile-width img {
  height: auto;
  left: -20px;
  position: relative;
  width: 110%;
}

* {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: 3rem 3rem 1rem 3rem;
}

h2 {
  margin: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 2rem;
}

button {
  margin: 0 auto;
  margin-bottom: 1rem;
}

section.hero {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero .hero-faces {
  display: none;
}

.step {
  margin: 4rem 0;
}

.step-circle {
  width: 56px;
  height: 56px;
  border: 1px solid #cdcdd6;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
  color: #87879d;
  font-weight: bold;
  background: white;
}

.step-line {
  color: #87879d;
  height: 84px;
  margin: 0 auto;
  width: 1px;
  background: #cdcdd6;
}

.image-grid {
  margin-bottom: 4rem;
}

.image-grid ul {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  display: -ms-grid;
  display: grid;
  grid-gap: 1.6rem;
  margin: 2rem;
}

.image-grid ul img {
  max-width: 100%;
  border-radius: 8px;
}

footer {
  -webkit-transform: translateY(9rem);
          transform: translateY(9rem);
  height: 428px;
  position: relative;
}

footer .inner-content {
  position: relative;
  top: -7rem;
}

footer h2, footer p {
  color: white;
}

footer p {
  font-size: 1.125rem;
}

footer .btn {
  margin: 0 auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tinted-image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 168, 0.9)), to(rgba(77, 150, 168, 0.9))), url(../images/image-footer-mobile.jpg);
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(../images/image-footer-mobile.jpg);
  background-size: cover;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
    max-width: 457px;
    margin: 2rem auto;
  }
  h1, h2 {
    max-width: 339px;
    margin: 2rem auto;
  }
  .hero p {
    max-width: 457px;
    margin: 2rem auto;
  }
  p {
    max-width: 573px;
    margin: 2rem auto;
  }
  button {
    margin: 0 1rem;
  }
  .btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-grid ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.8rem;
  }
  .tinted-image {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 168, 0.9)), to(rgba(77, 150, 168, 0.9))), url(../images/image-footer-tablet.jpg);
    background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(../images/image-footer-tablet.jpg);
    background-size: cover;
  }
}

@media (min-width: 1000px) {
  section.faces-background {
    display: none;
  }
  section.hero .hero-faces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  section.hero .hero-faces img {
    width: 80%;
    height: auto;
    min-width: 394px;
    max-width: 600px;
  }
  section.hero .faces-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section.hero .faces-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section.hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-message {
    position: relative;
    top: 2rem;
    margin: 0 8rem;
  }
  .hero-message h1 {
    font-size: 64px;
    line-height: 1.10;
    max-width: 450px;
  }
  .hero-message p {
    max-width: 540px;
  }
  .step {
    margin-top: 10rem;
  }
}
/*# sourceMappingURL=style.css.map */