
//colours
$teal: rgb(77,150,168);
$cyan: rgb(143,227,249);
$dark-purple: rgb(133,95,177);
$light-purple: rgb(217,184,255);
$dark-grey: rgb(40,40,61);
$light-grey: rgb(135,135,157);
$off-white: rgb(250,250,250);
$button-main-off: rgb(113,192,212);
$button-secondary-off: rgb(177,139,221);

* { 
    //reset
    margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none;

    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
}

h1, h2 { color: $dark-grey; }
h1, h2, p { text-align: center; }
h1 { font-size:3.556rem; line-height: 3.556rem; font-weight: 900; }
h2 { font-size:2.222rem; line-height: 2.444rem; font-weight: 900; }
h3 { font-size:0.8889rem; line-height: 1.444rem; font-weight: 900; color: $teal; text-transform: uppercase; letter-spacing: 4px; }
p { font-size: 1rem; line-height: 1.444rem; color: $light-grey;}

.btn {
    height: 58px;
    border-radius: 50px;
    padding: 1rem 2rem;
    color: white;
    font-weight: 900;
    font-size: 0.8889rem;
}

.btn-main {
    background-color: $teal;
    span { color: $cyan; font-weight: inherit;}
    &:hover {
        background-color: $button-main-off;
        span { color: $cyan; }
    }
}

.btn-secondary {
    background-color: $dark-purple;
    span { color: $light-purple;}
    &:hover {
        background-color: $button-secondary-off;
        span { color: $light-purple; }
    }
}

.logo {
    height: 130px;
    display: grid;
    position: relative;
    place-items: center;

    img {
        width: 119px;
        height:28px;
    }
}
section.mobile-width { overflow: hidden; }
section.mobile-width img{
    height: auto;
    left: -20px;
    position: relative;
    width: 110%;
}

//mobile
* { font-size: 16px; }
h1 { font-size: 2.5rem; line-height: 2.75rem; margin: 3rem 3rem 1rem 3rem;}
p { margin: 1.5rem 1rem; }
button { display: block; margin: 0 auto; margin-bottom: 1rem;}
section.hero { margin: 0 auto;}


.step { margin: 4rem 0; }
.step-circle {
    width: 56px;
    height: 56px;
    border: 1px solid lighten( $light-grey, 25% );
    border-radius: 50px;
    display: grid;
    place-items: center;
    margin:0 auto;
    color: $light-grey;
    font-weight: bold;
}

.step-line {
    color: $light-grey;
    height: 84px;
    margin: 0 auto;
    width:1px;
    background: lighten( $light-grey, 25% );
}

