
//colours
$teal: rgb(77,150,168);
$cyan: rgb(143,227,249);
$dark-purple: rgb(133,95,177);
$light-purple: rgb(217,184,255);
$dark-grey: rgb(40,40,61);
$light-grey: rgb(135,135,157);
$off-white: rgb(250,250,250);
$button-main-off: rgb(113,192,212);
$button-secondary-off: rgb(177,139,221);

* { 
    //reset
    margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none;

    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
}

html { background: #f1f1f1; overflow-x: clip;}
body { background: white; overflow-x: clip; }

.container { max-width: 1100px; margin: 0 auto;}
// .container-outer { max-width: 1440px; margin: 0 auto;}

h1, h2 { color: $dark-grey; }
h1, h2, h3, p { text-align: center; }
h1 { font-size:3.556rem; line-height: 3.556rem; font-weight: 900; }
h2 { font-size:2.222rem; line-height: 2.444rem; font-weight: 900; }
h3 { font-size:0.8889rem; line-height: 1.444rem; font-weight: 900; color: $teal; text-transform: uppercase; letter-spacing: 4px; }
p { font-size: 1rem; line-height: 1.6; color: $light-grey;}

.btn {
    height: 58px;
    border-radius: 50px;
    padding: 2rem 0rem;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    line-height: 0;
    letter-spacing: 0.6px;
    display: flex;
    justify-content: center;
    width:200px;
}

.btn-main {
    background-color: $teal;
    span { color: $cyan; font-weight: inherit;}
    &:hover {
        background-color: $button-main-off;
        span { color: $cyan; }
    }
}

.btn-secondary {
    background-color: $dark-purple;
    span { color: $light-purple; font-weight: inherit;}
    &:hover {
        background-color: $button-secondary-off;
        span { color: $light-purple; }
    }
}

.logo {
    height: 130px;
    display: grid;
    position: relative;
    place-items: center;

    img {
        width: 119px;
        height:28px;
    }
}
section.mobile-width { overflow: hidden; }
section.mobile-width img{
    height: auto;
    left: -20px;
    position: relative;
    width: 110%;
}

//mobile
* { font-size: 16px; }
h1 { font-size: 2.5rem; line-height: 2.75rem; margin: 3rem 3rem 1rem 3rem;}
h2 { margin: 2rem; }
h3 { font-size: 1rem;}
p { margin: 2rem }

button { margin: 0 auto; margin-bottom: 1rem;}
section.hero { margin: 0 auto; display: flex; flex-direction: column; justify-content: center;}
section.hero .hero-faces { display: none; height: fit-content;}


.step { margin: 4rem 0; }
.step-circle {
    width: 56px;
    height: 56px;
    border: 1px solid lighten( $light-grey, 25% );
    border-radius: 50px;
    display: grid;
    place-items: center;
    margin:0 auto;
    color: $light-grey;
    font-weight: bold;
    background:white;
}

.step-line {
    color: $light-grey;
    height: 84px;
    margin: 0 auto;
    width:1px;
    background: lighten( $light-grey, 25% );
}

.image-grid { margin-bottom: 4rem; }
.image-grid ul{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 1.6rem;
    margin:2rem;

    img { max-width: 100%; border-radius: 8px;}
}

article { margin:0 auto; width: 327px;}

footer {
    transform: translateY(9rem);
    height: 428px;
    position: relative;


    .inner-content { position: relative; top: -7rem; }
  
    h2, p {
        color: white;
    }
    p { font-size: 1.125rem;}

    .btn {  margin: 0 auto; margin-top: 4rem; display: flex;}
}

.tinted-image {
    background: 
      linear-gradient(
        rgba($teal, 0.90), 
        rgba($teal, 0.90)
      ),
      url(../images/image-footer-mobile.jpg);
      background-size: cover;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    h1 { font-size: 3rem;}
    h2 { font-size: 2.5rem; margin: 2rem auto; }
    h1, h2 { margin: 2rem auto; }
    .hero p { max-width: 457px; margin: 2rem auto; }
    p { max-width: 573px; margin: 2rem auto;}

    button { margin: 0 1rem; }
    .btn-container {
        flex-direction: row;
        justify-content: center;
    }

    .image-grid ul{ grid-template-columns: repeat(4, 1fr); grid-gap: 0.8rem; }

    .tinted-image {
        background: 
          linear-gradient(
            rgba($teal, 0.90), 
            rgba($teal, 0.90)
          ),
          url(../images/image-footer-tablet.jpg);
          background-size: cover;
    }

    article { margin:0 auto; width: 445px;}
  }

@media (min-width: 1000px) {
    section.faces-background { display: none; }
    section.hero .hero-faces { display: flex; width: 100%; }
    section.hero .hero-faces img { width: 80%; height: fit-content;; min-width: 394px; max-width: 600px;}
    section.hero .faces-left { justify-content: flex-start; flex-grow: 1;}
    section.hero .faces-right { justify-content: flex-end; flex-grow: 1;}
    section.hero { flex-direction: row; }
    .hero-message { 
        position: relative; top: 2rem; margin: 0 8rem;

        h1 { font-size: 64px; line-height: 1.10; max-width: 450px;}

        p {
            max-width: 540px;
        }
    }

    article { width: 450px;}



    .step-1 { margin-top:10rem; }
}